auto
*.log
*.class
*~
*.exe
*.tmp
.hg/
\#*
.codepro/
target/
.project
.settings
.eclipse
.classpath
.manager
workspace
CUnit/
.\#*
*.versionsBackup
*.o
*.pdb
*.lib
*.dll
*.mk
*.obj
*.ilk
*.gz
*.zip
*.jar
*.tgz
*.orig
*.aux
*.o
*.hi
*.providers
Tests
# pgop specific
addins
cfg
CMakeLists.txt
codechecker/
cppmigration/
integration/
log/
mef2cpp/
mxsdk/
odr/
progs/
run_cmake.bat
run_cmake.sh
unions/
component/legacy/
component/margin-run/
component/report/
bin/
thirdparty/
build/
UserGuide/
ErrorLogs/
FitNesse/
FrontPage/
PageFooter/
PageHeader/
RecentChanges/
files/
properties
updateDoNotCopyOverList
updateList
activemq-data/
pocclitestwitness
obj/
files/	
*.Registrar
# these are normally the result of processing doc
*.html
*.pdf
*.toc
*.tex
*.out
*.cache

# cpp blend stuff
!lib/murex/pgop/
!lib/murex/mdk/
!lib/murex/tools/
!lib/murex/CMakeLists.txt

lib/
